@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

.dashboard {
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0d1323;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-size: 18px;
  min-height: 100vh;
}

.wrapper {
  margin: 0 auto;
  max-width: 1100px;
  min-height: 560px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
