.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 156px;
  height: 40px;
  border: 2px solid;
  background-color: transparent;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;

  &-content {
    border-color: white;
    color: white;

    &:hover {
      background-color: white;
      color: black;
      transition: 0.5s;
    }
  }
}
