// Colors
$violet-dark: hsl(256, 26%, 20%);
$violet-very-dark: hsl(270, 9%, 17%);
$violet-dark-grayish: hsl(276, 4%, 51%);

$blue-grayish: hsl(216, 30%, 68%);

$gray-very-dark: hsl(0, 0%, 98%);

// Typography
$family-body: 'Karla', sans-serif;
$family-headings: 'DM Serif Display', serif;
$fs-base: 16px;
$weight-regular: 400;
$weight-bold: 700;

// Devices
$mobile-min: 320px;
$mobile-max: 767px;

$tablet-min: 768px;
$tablet-max: 991px;

$desktop-min: 992px;
$desktop-max: 1199px;

$large-min: 1200px;
