// Colors
$cyan-strong: hsl(171, 66%, 44%);
$cyan-shaddow: hsla(160, 64%, 72%, 0.502);

$blue-light: hsl(233, 100%, 69%);
$blue-shaddow: hsla(0, 0%, 0%, 0.153);
$blue-grayish: hsl(201, 11%, 66%);
$blue-grayish-dark: hsl(210, 10%, 33%);
$blue-attribution: hsl(228, 45%, 44%);

// Typography
$family: 'Bai Jamjuree', sans-serif;
$fs-base: 18px;
$fs-base-desktop: 20px;
$weight-normal: 400;
$weight-semi-bold: 600;

// Devices
$mobile-min: 320px;
$mobile-max: 767px;

$tablet-min: 768px;
$tablet-max: 991px;

$desktop-min: 992px;
$desktop-max: 1199px;

$large-min: 1200px;
